@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@0,300;0,400;0,500;0,600;1,700&display=swap");
body {
  @include toRem("font-size", 16);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  @include toRem("font-size", 16);
  font-family: var(--bem-PrimaryFF);
  color: var(--bem-PrimaryFontColor);
  font-weight: var(--bem-LightFW);
  line-height: 1.4;
}